.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;

  .identity {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;

    #logo {
      height: 3rem;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      vertical-align: text-bottom;
    }
  }

  .header-end {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .end-item {
      margin: 1.5rem;
    }
  }
}
